/*universal*/
*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    margin:0;
}

a {
    color: inherit;
}

/*navbar design*/
nav {
    top: 0%;
    width: 100%;
    position: fixed;
    background-color: #FA8258 ;
}

.container {
    padding: 22px;
    margin: 0 auto;
    text-align: center;
}

.container ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
}

.container ul li a:hover {
    padding: 12px;
    color: #58D0FA;
}

.container ul li a {
    margin: 8px;
    padding: 10px;
    color: #000000;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.active {
    border-bottom: 2px solid #ecf0f1;
}

.container p {
    margin-bottom: 16px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}

.item {
    width: 100%;
    padding: 50px;
    height: 280px;
    text-align: center;
    background-color:#ecf0f1;
    border-bottom: 1px solid #ccc;
}

.first {
    margin-top: 100px;
}

.default {
    margin-top: 64px;
}

.col-full {
    width: 1044px;
}

